.Text-color{
    color:#717171;
  }

.Desc{
    line-height: 1.6;
    text-align: justify;
}

.Sub-nav{
    margin-top: 8%;
}

  .Spacing{
      margin-top: 5%;
  }

  .Text-Space{
      margin-top: 1%;
      margin-left: 1%;
  }

  .Sub-link{
      text-decoration: none;
      color:#FF8C00;
  }

  .Sub-link:hover{
      background-color: aquamarine;
      text-decoration: none;
  }